{% extends "sqladmin/details.html" %}

{% block content %}
{{ super() }}

<style>
    .card-footer {
        display: flex;
        background-color: transparent !important;
        padding: 2em 0 !important;
    }

    .card-footer .row {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
    }

    .btn {
        width: auto;
    }

    @media (max-width: 768px) {
        .card-body {
            padding: 0.5em !important;
        }

        .card-footer {
            justify-content: space-between;
        }

        .card-footer .row {
            display: flex;
            flex-direction: row !important;
            flex: 1;
        }

        .row > * {
            flex: 1 !important;
        }

    }
</style>

{% endblock %}